<!DOCTYPE html>

<!DOCTYPE html>
	<html lang="sv">
<head>
	<meta charset="utf-8" />
	<title>UnBox</title>
	<meta name="description" content="" />
	<meta name="author" content="admin" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<!-- Google Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic,700,600,600italic,400italic,300italic,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<!-- Stylesheet -->
	<link rel="stylesheet" href="https://www.gadgetbox.us/assets/css/bootstrap.css" type="text/css"/>
	<link rel="stylesheet" href="https://www.gadgetbox.us/assets/css/stylesheet.css" type="text/css"/>
	<link rel="stylesheet" href="https://www.gadgetbox.us/assets/css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="https://www.gadgetbox.us/assets/css/bootstrap-select.css" type="text/css"/>
	<link rel="stylesheet" href="https://www.gadgetbox.us/assets/css/lightbox.css" type="text/css"/>
	<link rel="stylesheet" href="https://www.gadgetbox.us/assets/css/reating.css" type="text/css"/>

	<!-- FavIcon -->
	<link rel="icon" type="image/x-icon" href="https://www.gadgetbox.us/assets/images/favicon.ico" />
	<link rel="icon" type="image/png" href="https://www.gadgetbox.us/assets/images/favicon.png" />
        <!-- Stylesheet -->

	<!-- Javascript -->
        <script type="text/javascript" src="https://www.gadgetbox.us/assets/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="https://www.gadgetbox.us/assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="https://www.gadgetbox.us/assets/js/jquery.placeholder.1.3.min.js"></script>
        <script type="text/javascript" src="https://www.gadgetbox.us/assets/js/lightbox.min.js"></script>

   	<!--[if lte IE 8]><script src="https://www.gadgetbox.us/assets/js/html5shiv.js"></script><![endif]-->

   	<script>
	$(document).ready(function() {
		$( ".playicon" ).click(function() {
		$( ".custom-left" ).toggleClass( "slidein" );
		$( ".custom_right" ).toggleClass( "slideout" );
		$( ".fixblogmob" ).toggleClass( "displayblog" );
		});
		$( ".fixblogmob" ).click(function() {
				$( ".fixblogmob" ).removeClass( "displayblog" );
				$( ".custom-left" ).removeClass( "slidein" );
				$( ".custom_right" ).removeClass( "slideout" );
		});
		$( ".searchsmall" ).click(function() {
				$('.searcharea').slideToggle("fast");
		});
	});
    </script>

		<script type="text/javascript">

				var searchBoxMainCata = '';
				var searchBoxSubCata = '';
				var searchtextValue = ''


		</script>
		<script src="https://www.gadgetbox.us/assets/js/jquery.nestedAccordion.js"></script>
		<script src="https://www.gadgetbox.us/assets/js/homePage.js"></script>

</head>
<body>
<div class="fixblogmob"></div>
<div class="playicon">
        <button class="navbar-toggle" type="button" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
</div>
<!--<div id="floatMenu">
        <a href="#"><i class="socl-float-fb"> </i></a>
        <a href="#"><i class="socl-float-twtr"> </i></a>
        <a href="#"><i class="socl-float-g-plus"> </i></a>
        <a href="#"><i class="socl-float-printest"> </i></a>
        <a href="#"><i class="socl-float-plus"> </i></a>
        <a href="#"><i class="socl-float-linkdin"> </i></a>
</div>	-->

<div class="smalldevice">
    <header class="header">









				</div>








                                        </div>
                                    </div>
                                </li>

                                <li>


                                    <div class="sub-mnu">

					<div style="width: 50%;margin: auto;">
						<div class="row" style="float: left;">
						    <div class="wmn-btn">


							    <a class="sds-btn" href="/uno/question/">Get Started!</a>
						    </div>
						</div>

						<div class="row" style="float: right;">

						</div>
					</div>

                                    </div>

				</li>

									</a>

								</li>
                            </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>




<div class="custom_right">
    <section class="banner_section">
 <div id="owl-demo" class="owl-carousel">
                <div class="item">
<div class="bn-sctin">
<div class="ban-cptn">



<div> </div>

<div> </div>

<div> </div>

<div> </div>

<div> </div>

<div> </div>

<div> </div>

<div> </div>


<div> </div>

<div> </div>

<div> </div>


<div> </div>

<div> </div>

<div> </div>

<div> </div>

<div> </div>

<div> </div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<br></br>
<h5> </h5>
<div>      </div>
<div><a class="wmn-gn-btn" href="/uno/questions/" style="line-height: 1.6em;">Get Started!</a><span style="line-height: 1.6em;">
</div>
</div><div class="item">
<div class="bn-sctin">
<div class="ban-cptn">
<h3> </h3>

<h3> </h3>

<h3> </h3>



</div>
<img alt="" src="https://u.imageresize.org/9be45537-5382-49cb-8f7e-23ffa777b054.png" style="height: 480px; width: 1920px;" /></div>
</div>            </div>

    </section>





    <div class="ipsm-sctn">
        <div class="container clearfix">

<div class="sed-outr bst-st-outr" style="padding-top: 0;">
<div class="row">
<div class="col-sm-3 algn-cntr">&nbsp;</div>

<div class="col-sm-6 algn-cntr">
<figure><!-- <div class="rvw">
                                                                    <div class="bst-stl-tbl">
                                                                            5,246 <br /> Reviews
                                                                    </div>
                                                            </div>--><img alt="" src="http://gadgetbox.us/assets/images/pro2.png" /></figure>

</div>
</div>
</div>
</div>
    </div>



</div>


<script>

//   		$(function() {
//		    function moveFloatMenu() {
//		        var menuOffset = menuYloc.top + $(this).scrollTop() + "px";
//		        $('#floatMenu').animate({
//		            top: menuOffset
//		        }, {
//		            duration: 500,
//		            queue: false
//		        });
//		    }
//
//		    menuYloc = $('#floatMenu').offset();
//
//		    $(window).scroll(moveFloatMenu);
//
//		    moveFloatMenu();
//		});
   	</script>
   	<script src="https://www.gadgetbox.us/assets/js/owl.carousel.js"></script>
   	<script>
	    $(document).ready(function() {
	      $("#owl-demo").owlCarousel({

	      navigation : true,
	      slideSpeed : 300,
	      paginationSpeed : 400,
	      singleItem : true

	      // "singleItem:true" is a shortcut for:
	      // items : 1,
	      // itemsDesktop : false,
	      // itemsDesktopSmall : false,
	      // itemsTablet: false,
	      // itemsMobile : false

	      });
	    });




	    $(document).ready(function() {
	      $("#owl-demo2").owlCarousel({

	      navigation : true,
	      slideSpeed : 300,
	      paginationSpeed : 400,
	      singleItem : true

	      // "singleItem:true" is a shortcut for:
	      // items : 1,
	      // itemsDesktop : false,
	      // itemsDesktopSmall : false,
	      // itemsTablet: false,
	      // itemsMobile : false

	      });
	    });
    </script>
	<!--<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54f408ea0dd29159" async="async"></script>
	<div style="position: fixed;
  top: 0;
  background: rgba(0,0,255,0.7);
  z-index: 99999;
  height: 86px;
  width: 100%;
  text-align: center;" class="alert alert-danger alert-dismissible fade in" role="alert"><h4 style="font-size: 25px;color: #fff;">Temporarily Unavailable. We are not conducting or accepting any new business at this time.</h4></div>-->
</body>
</html>
